<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">victoria
            <span class="text-primary">melnyk</span>
        </h1>
        <div class="subheading mb-5">ivano-frankivsk · ukraine ·
            <a href="#">melnykvictoria21@gmail.com</a>
        </div>
        <p class="mb-5">I am trying to become Front-end developer</p>
        <ul class="list-social list-social-icons mb-0">
            <li class="list-social-item">
                <a href="https://twitter.com/V1ctoriaMelnyk" class="list-social-link link-twitter"></a>
            </li>
            <li class="list-social-item">
                <a href="https://www.linkedin.com/in/victoria-melnyk-0b216a135/" class="list-social-link link-linkedin"></a>
            </li>
            <li class="list-social-item">
                <a href="https://plus.google.com/u/0/100030016740449949514" class="list-social-link link-google"></a>
            </li>
            <li class="list-social-item">
                <a href="https://www.facebook.com/profile.php?id=100006344496920&ref=bookmarks" class="list-social-link link-facebook"></a>
            </li>
        </ul>
    </div>
</section>