<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        <h2 class="mb-5">skills</h2>
        <p class="subheading mb-3">Programming Languages &amp; Tools</p>
        <ul class="fa-ul mb-3">
            <li>JavaScript/HTML/CSS/</li>
            <li>Bootstrap</li>
            <li>VS Code</li>
            <li>Agile (Scrum)</li>
        </ul>
        <p class="subheading mb-3">operating system</p>
        <ul class="fa-ul mb-0">
            <li>Microsoft Windows Vista/ 7 / 8 / 10 </li>
            <li>MacOS</li>
        </ul>
    </div>
</section>